@charset "utf-8";
/* CSS Document */
.whole{ width:950px; margin:0 auto}
  .productDetail{ width:720px; height:800px; float:right; margin-left:10px}
    .pro_biao{width:300px; height:30px; line-height:30px}
	  .pro_biao span{ margin-left:30px}
	.pro_det{width:300px; height:360px;}
	  .pro_det_img{ width:350px; height:350px; float:left}
      .pro_det_img img{ border:#999 0px solid}
	  .pro_det_xin{ width:300px; height:300px}
	.jieshao_biaoti{ width:870px; height:40px;}
	.jieshao_det{width:720px; height:80px; border-bottom:#999 0px dashed }
.topic{width:850px;height:450px;}
.topic .type{width:810px;height:210px; margin-top:10px; background:url(gouwucheImages/liuyan.jpg); float:left;}
  .topic .type #lie{width:168px;height:33px; line-height:33px;}
    .topic .type #lie span{margin-left:0px}
	  .topic .type #lie span a{ font-size:14px; color:#333; text-decoration:none}
	  .topic .type #lie span a:hover{text-decoration:underline; font-weight:bold; color:#069; font-style:宋体}

