@charset "utf-8";
/* CSS Document */
body,div,ul,ol,li,form,input,textarea,p{margin:0;padding:0;}
body{background:none;
     font-size:12px;
	 color:#515151;
}
img{border:0 none;}
.head{width:950px;height:80px;margin:0 auto; background:url(../images/logo.jpg) no-repeat;overflow:hidden; }
.search{width:1160px;height:42px; margin-top:35px; padding-left:155px;z-index:1;}
.search .text{width:600px;height:39px; float:left; padding-left:5px; background:url(../images/searchtext.jpg) no-repeat}
.search .text #key{width:400px;height:30px; border:0 none; background:none scroll repeat 0 0 transparent; color:#000000; line-height:15px; font-size:18px;font-weight:bold;padding-top:10px; padding-left:34px; }
.search .sousuo{width:95px;height:48px; float:left; margin-left:0px; background:url(../images/search.jpg) no-repeat; cursor:pointer}
.search #remen{width:300px;height:35px;float:left; line-height:35px; padding-left:20px}
#remen a{ margin-right:10px; color:#36C; text-decoration:none;}
#remen a:hover{text-decoration:underline}
.hea{
	background:url(../images/head1.jpg);
	float:right;
	width:375px;
	height:26px;
	line-height:20px;
	font-size:12px;
	margin-right:100px;
	position:absolute;
	top:2px;
	left:757px;
}
.huo{margin-left:20px; padding:2px}
.huo a{text-decoration:none;color:#515151;}
.huo a:hover{text-decoration:underline}
.hea2{
	width:398px;
	height:28px;
	float:right;
	margin-top:5px;
	clear:both;
	line-height:28px;
	text-align:right;
	position:absolute;
	top:43px;
	right:220px;
}
.hea2 a{text-decoration:none; color:rgb(0,0,0)}
.hea2 a:hover{text-decoration:underline}
.navi{width:1400px;height:42px; background:url(../images/dao.jpg)}
.navi .navi_center{height:42px;width:950px; line-height:42px; margin:0 auto; margin-left:195px;}
.navi .navi_center .navi_span{margin-left:50px;}
.navi .navi_center a{text-decoration:none; font-size:14px; color:#FFF}

/*current*/

.current{width:950px;height:450px;}
.current .type{width:210px;height:432px; margin-top:10px; background:url(../images/fenlei.jpg); float:left;}
  .current .type #lie{width:168px;height:33px; line-height:33px;}
    .current .type #lie span{margin-left:0px}
	  .current .type #lie span a{ font-size:14px; color:#333; text-decoration:none}
	  .current .type #lie span a:hover{text-decoration:underline; font-weight:bold; color:#069; font-style:宋体}
.current .right{width:754px;height:432px; float:left}

.current_right_flash{width:512px;height:255px; margin-top:10px; margin-left:220px; float:left}
.current_right_login{width:234px;height:240px; border:#FD7C7C solid 3px;margin-left:530px; margin-top:10px}
  .current_right_login_line{line-height:25px; width:210px; padding-left:18px; margin-top:6px}
   .a1:link{color:#515151; text-decoration:underline}
   .a1:hover{color:#C00}
     .current_login_line_in1{border:#8B8B8B 1px solid; padding:2px}
  .current_right_login_h{border-top:1px solid #EAEAEA; line-height:23px; margin:0 auto; padding:3px 0 0 20px; width:198px; height:71px; background:url(../images/bac.gif) left ; overflow:hidden}
      .current_right_login_h a{color:#515151; text-decoration:none}
      .current_right_login_h a:hover{color:#515151; text-decoration:underline}
  
  /*flash style*/
 /****************************************************************************************************************************************/
  /* 图片按钮(上)滚动 - 公用类 */
.picBtnTop{ width:500px; height:214px; border:1px solid #ccc; padding:5px;  position:relative;  overflow:hidden;  zoom:1;   }
.picBtnTop .hd{ width:98px;  height:214px; position:absolute; right:5px;}
.picBtnTop .hd ul li{ width:93px; padding:0 0 5px 5px;  text-align:center; line-height:0px;  }
.picBtnTop .hd ul li img{ width:85px; height:60px; border:4px solid #ddd; cursor:pointer;  }
.picBtnTop .hd ul li.on{ background:url("images/icoleft.gif") no-repeat 0 28px; }
.picBtnTop .hd ul li.on img{ border-color:#f60;  }
.picBtnTop .bd{ width:400px;  height:214px; position:relative;  }
.picBtnTop .bd img{ width:400px; height:214px;  }
.picBtnTop .bd li{ position:relative; zoom:1; }
.picBtnTop .bd li .pic{ position:relative; z-index:0; line-height:0px;  }
.picBtnTop .bd li .bg{ width:400px; height:30px; position:absolute; left:0; bottom:0; z-index:1;  background:#000; filter:alpha(opacity=60);opacity:0.6;    }
.picBtnTop .bd li .title{ width:400px; height:30px; line-height:30px; left:0; bottom:0;   position:absolute; z-index:2;  }
.picBtnTop .bd li .title a{ color:#fff;  }
  /****************************************************************************************************************************************/
#ifocus ul, li { list-style:none; }
#ifocus { width:680px; height:245px; margin:20px 0 0 20px; border:1px solid #DEDEDE; background:#F8F8F8; }
 #ifocus_pic { display:inline; position:relative; float:left; width:400px; height:225px; overflow:hidden; margin:10px 0 0 10px; }
  #ifocus_piclist {
	position:absolute;
	width: 400px;
	height:400px;
}
  #ifocus_piclist li { width:400px; height:225px; overflow:hidden; }
  #ifocus_piclist img { width:400px; height:225px; }
 #ifocus_btn { display:inline; width:70px; margin:9px 9px 0 0; float:right; margin-right:0px;}
  #ifocus_btn li { width:70px; height:57px; cursor:pointer; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50); }
  #ifocus_btn img { width:70px; height:45px; margin:7px 0 0 11px; }
  #ifocus_btn .current { background: url(img/ifocus_btn_bg.gif) no-repeat; opacity:1; -moz-opacity:1; filter:alpha(opacity=100);}
 #ifocus_opdiv {
	position:absolute;
	left:5px;
	bottom:-11px;
	width:400px;
	height:35px;
	background:#000;
	opacity:0.5;
	-moz-opacity:0.5;
	filter:alpha(opacity=50);
}
 #ifocus_tx {
	position:absolute;
	left:4px;
	bottom:-224px;
	color:#FFF;
	width: 132px;
	height: 232px;
}
  #ifocus_tx .normal { display:none; }
  
  
  .guang{width:756px; height:131px; border:0; float:left; margin-left:243px; margin-top:0px; position:absolute; top:420px;         left:110px}
       .guang .tu{width:510px; height:131px; border:0; float:left}
	   .guang .fen{width:238px; height:131px; border:0; margin-left:518px}
	   


     /*xinpin*/
.xinpin{width:940px; height:auto; margin:0 auto;}
  .xinpin .biaoti{width:930px; height:55px; background-image:url(../shangpinImages/shumatopic.gif); text-align:left; margin-left:0px;}
  .xinpin .biaoti span{line-height:45px}
  .xinpin .biaoti span a{ margin-right:15px;text-decoration:none;color:C00}
  .xinpin .biaoti span a:hover{text-decoration:underline}
  .xinpin .biaoti-tu{width:900px; height:245px; margin-left:45px;}
    .xinpin .biaoti-tu ul{ list-style-type:none; margin:0;}
	  .xinpin .biaoti-tu li{ list-style:none; float:left; display:inline; margin-left:10px; margin-top:10px;height:200px; clear:none}
	   .xinpin .biaoti-tu li img{width:160px; height:160px; border:#d1d1d0 1px solid;}
	   .xinpin .biaoti-tu .desp{ text-align:left; width:155px; height:35px; line-height:20px;}
	   .xinpin .biaoti-tu .price{ font-weight:bold; color:#F00; margin-left:0px; width:100px; height:20px; line-height:25px}
	   
	   /*shuma*/
.shuma{width:999px; height:auto; margin:0 auto}
  .shuma-topic{width:700px; height:auto; background:url(../shangpinImages/shumatopic.gif); text-align:left; margin-left:140px; padding-right:20px}
     .shuma-topic span{ line-height:45px}
	    .shuma-topic span a{ margin-right:15px; text-decoration:none; color:#C00}
		.shuma-topic span a:hover{text-decoration:underline}
  .shuma-content{width:950px; height:200px; margin-bottom:20px}
	 .content-right{width:730px; height:203px; margin-left:200px}
	    .content-right-shang{width:790px; height:182px;}
		   .content-right-shang ul{list-style-type:none; margin:0;}
		   .content-right-shang li{list-style:none; float:left; display:inline; margin-left:10px; margin-top:10px;height:182px; clear:none}
		      .content-right-shang li img{width:160px; height:160px; border:#d1d1d0 1px solid;}
			  .content-right-shang .desp1{text-align:left; width:155px; height:auto; line-height:20px;}
			  .content-right-shang .price1{font-weight:bold; color:#F00; margin-left:0px; width:130px; height:auto; line-height:25px}

		/*tobooktype*/
.booktype{width:999px; margin:0px auto}
  .booktype-topic{width:700px; height:55px; background:url(../shangpinImages/shumatopic.gif); text-align:left; margin-left:150px; padding-right:20px}
     .booktype-topic span{ line-height:55px}
	    .booktype-topic span a{ margin-right:15px; text-decoration:none; color:#C00}
		.booktype-topic span a:hover{text-decoration:underline}
  .booktype-content{width:950px; height:1600px;}
	 .content-right{width:730px; height:1300px; margin-left:20px}
	    .content-right-shang{width:790px; height:auto}
		   .content-right-shang ul{list-style-type:none; margin-top:10px;}
		   .content-right-shang li{list-style:none; float:left; display:inline; margin-left:10px; margin-top:5px;margin-bottom:40px;margin-height:182px; clear:none}
		      .content-right-shang li img{width:160px; height:160px; border:#d1d1d0 1px solid;}
			  .content-right-shang .desp1{text-align:left; width:150px; height:35px; line-height:20px;}
			  .content-right-shang .price1{font-weight:bold; color:#F00; margin-left:0px; width:130px; height:50px; line-height:25px}
		   
/*select*/
.select{width:999px; height:auto;margin:0px auto}
  .select-topic{width:700px; height:55px; background:url(../shangpinImages/shumatopic.gif); text-align:left; margin-left:150px; padding-right:20px}
     .select-topic span{ line-height:55px}
	    .select-topic span a{ margin-right:15px; text-decoration:none; color:#C00}
		.select-topic span a:hover{text-decoration:underline}
  .select-content{width:950px;}
	 .content-right{width:730px; margin-left:20px}
	    .content-right-shang{width:790px;}
		   .content-right-shang ul{list-style-type:none; margin-top:10px;}
		   .content-right-shang li{list-style:none; float:left; display:inline; margin-left:10px; margin-top:5px;margin-bottom:45px;height:182px; clear:none}
		      .content-right-shang li img{width:160px; height:160px; border:#d1d1d0 1px solid;}
			  .content-right-shang .desp1{text-align:left; width:150px; height:auto; line-height:20px;}
			  .content-right-shang .price1{font-weight:bold; color:#F00; margin-left:0px; width:130px; height:auto; line-height:25px}
		   /*lianjie*/
.lianjie{width:950px; height:105px; border:#cccccc 1px solid; margin:0 auto; margin-top:15px}
  .lianjie .lian1{width:83px; height:105px; margin-left:10px; float:left}
  .lianjie .lian1 a{ line-height:21px; text-decoration:none; color:#333}
  .lianjie .lian1 a:hover{ color:#F00}
  
.bangzhu{width:950px; height:80px; margin:0 auto; margin-top:25px; text-align:center; border-bottom:#F00 4px solid}
.guanyu{width:950px; height:30px; margin:0 auto;margin-top:35px; text-align:center}
   .guanyu a{ margin-left:30px; text-decoration:none; color:#000}
   .guanyu a:hover{ color:#F00}
.banquan{width:950px; height:80px; margin:0 auto;text-align:center;}
     
	                  /*注册页面*/
					  
.cur{width:1000px; height:30px; margin:0 auto; line-height:30px; border-bottom:#F90 1px solid; margin-top:15px}
   .cur #one{}
   .cur #two{ margin-left:650px}
   .cur a{ text-decoration:none}
   .cur a:hover{ text-decoration:underline}
  
.zc{width:950px; height:500px;margin:0 auto; border:#cccccc 1px solid; margin-top:10px; padding-top:20px}
     .item{width:950px; height:50px; margin-top:5px}
         .word1{ height:80px; font-size:18px; text-align:right; padding-left:300px}
	     .word2{ height:80px; font-size:18px; text-align:right; padding-left:300px}
	     .word3{ height:80px; font-size:18px; text-align:right; padding-left:300px}
	     .word4{ height:80px; font-size:18px; text-align:right; padding-left:300px}
	     .word5{ height:80px; font-size:18px; text-align:right; padding-left:300px}
	 .zc .word6{ height:80px; font-size:14px; text-align:right; padding-left:350px}
	 .zc .item1{width:950px; height:30px; margin-top:5px}
	  .zc .word7{ font-size:14px; text-align:right; padding-left:350px}
	 .zc input{ border:#BBBBBB 1px solid; height:28px; font-size:15px; padding:4px 3px; width:240px}
	 .zc .btn{ width:167px; height:32px; background:url(../regImages/submit.jpg); border:0px; color:#FFF; font-weight:bold}
	 .zc #protocal{ border:1px solid #CCCCCC; color:#666666; height:80px; margin:0 auto; overflow:auto; padding:8px; width:600px}
	 
	                /*登录页面*/
.log{width:950px; height:280px;margin:0 auto; border:#cccccc 1px solid;margin-top:10px; padding-top:20px}
   .log .log-left{width:600px; height:280px;float:left}
     .log-item{width:550px; height:50px; margin-top:5px}
       .log-left .wor1{ height:80px; font-size:20px; text-align:right; padding-left:140px}
	   .log-left .wor2{ height:80px; font-size:20px; text-align:right; padding-left:140px}
	   .log-left .wor5{ height:80px; font-size:20px; text-align:right; padding-left:140px}
	   .log-left .log-item input{ border:#BBBBBB 1px solid; height:38px; font-size:20px;font-weight:bold; padding:4px 3px; width:240px}
	   .log-left .log-item #yanzheng{ border:#BBBBBB 1px solid; height:38px; font-size:20px; padding:4px 3px; width:100px}
	   .log-left .wor6{ height:80px; font-size:20px; text-align:right; padding-left:130px}
	     .log-left .lo{ width:88px; height:35px; background:url(../regImages/login.jpg); border:0px}
	
	.log-right{width:350px; height:250px; margin-left:600px; margin-top:20px; border-left:#cccccc 1px dashed}
	  .re-zhu{padding-left:20px; width:300px; height:30px; text-align:center; margin-top:70px}
	     .re-zhu input{ width:136px; height:36px; background:url(../regImages/lijizhuce.gif); border:0px; color:#000; font-weight:bold; cursor:pointer}
		 
		 
		    /**商品页面**/
.sou1{width:950px; height:52px;margin:0 auto; background:url(../shangpinImages/bian.gif)}
   .sou1 .search{width:690px;height:35px; margin-top:10px; margin-left:10px;}
    .sou1 .search #remen{width:300px;height:35px;float:left; line-height:35px; padding-left:20px}
	  #remen a{ margin-right:10px; color:#36C; text-decoration:none;}
	  #remen a:hover{text-decoration:underline}
      .sou1 .search .text{width:258px;height:35px;background:url(../images/searchtext.jpg) no-repeat; float:left}
     .sou1 .search .text #key{width:228px;height:15px; border:0 none; background:none scroll repeat 0 0 transparent; color:#999999; height:15px; line-height:15px;
	  font-size:14px; padding:8px 5px 6px 24px}
  .sou1 .search .sousuo{width:78px;height:35px;background:url(../images/search.jpg) no-repeat; cursor:pointer; float:left}

.curposition{width:950px; height:20px;margin:0 auto; border-bottom:#CCC 1px solid; padding-top:20px;}
  .curposition span{ margin-left:10px}

.allCon{width:950px; border:#009 1px solid; margin:0 auto}
.fenlei{width:140px; height:480px; border:4px solid #E9E9E9;padding:5px; float:left}
  .fenlei h4{ height:20px; background:url(../shangpinImages/biankuang.gif); margin-bottom:10px; border-bottom:#999 1px dashed}
  .fenlei .fen1{width:174px; height:25px; line-height:25px;}
   .fenlei .fen1 a{ text-decoration:none; color:#666}
   .fenlei .fen1 a:hover{ color:#F00}
.proright{ width:780px; border:#F00 1px solid; float:right}
  .paixv{width:780px; height:35px; background:url(../shangpinImages/rightbian.gif); line-height:35px}
  .proright-pro{width:780px; border:#0F3 1px solid}
     .proright-pro ul{ list-style-type:none; margin:0;}
	   .proright-pro li{ list-style:none; float:left; display:inline; margin-left:24px; margin-top:10px;
	                          height:240px; clear:none}
	    .proright-pro li img{border:#d1d1d0 1px solid; width:160px; height:160px}
	    .proright-pro .desp{ text-align:left; width:136px; height:35px; line-height:20px;}
	    .proright-pro .price{ font-weight:bold; color:#F00; margin-left:40px; width:100px; height:50px; line-height:25px}
  .page{width:780px; border:#0F3 1px solid; height:40px; float:right; text-align:right; line-height:40px}
    .pagesi{ text-decoration:none; font-weight:bold; padding:2px 8px 0; color:#333; font-size:14px}
	.pagesi:hover{ text-decoration:underline; color:#F00}
	.sxpage{border:1px solid #FF7A32; color:#FFFFFF; padding:2px 15px 0 8px; text-decoration:none; background: no-repeat scroll -30px -128px #FF975F}
	
