/* Global CSS */
body {text-align:center;font-family:ו,serif;font-size:12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote{padding:0; margin:0;}   
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
table{ margin:0 auto;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}   
caption,th {text-align:left;}   
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}   
q:before,q:after {content:'';}   
abbr,acronym {border:0;}
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;}   
strong {font-weight:normal;}
/* link color font */
a {color:#000000;text-decoration:none;}
a:visited {color:#83006f;text-decoration:none;}
a:hover {color:#bc2931;text-decoration:underline;}
a:active {color:#bc2931;}
.cWhite,.cWhite:visited,.cWhite a{color:#fff;}
.cYellow,.cYellow:visited{color:#ff0;}
.cGreen,.cGreen:visited{color:#008000;}
.cGray,.cGray:visited,.cGray a{color:#333;}
.cDGray,.cDGray:visited,.cDGray a{color:#666;}
.cBlack,.cBlack:visited,.cBlack a{color:#000;}
.cBlue,.cBlue:visited,.cBlue a{color:#1f3a87;}
.cRed,.cRed:visited,.cRed a{color:Red;}
.cDRed,.cDRed:visited,.cDRed a{color:#bc2931;}
.cRed a:hover,a.cRed:hover,.cBlue a:hover,a.cBlue:hover,.cDRed a:hover,a.cDRed:hover,.cGray a:hover,a.cGray:hover,.cDGray a:hover,a.cDGray:hover,.cWhite a:hover,a.cWhite:hover,.cBlack a:hover,a.cBlack:hover,.cGreen a:hover,a.cGreen:hover,.cYellow a:hover,a.cYellow:hover{color:#bc2931;}
.fB{font-weight:bold;}
.fI{font-style: italic;}
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.left{float:left;}
.right{float:right;}
.hidden{display:none;}
.unLine,.unLine a{text-decoration:none;}
.noBorder{border:none;}
/* icon */
.I_V_ {background:url(http://img1.cache.netease.com/cnews/img09/icon.gif) left middle no-repeat; padding-left:16px;}

/* foot */
.foot{margin:0 auto; width:750px; line-height:160%; clear:both;}
.foot .text{padding:3px 0 6px; border-bottom:1px solid #ccc; margin:0 0 5px;}
.foot a:visited{color:#000;}

/* span blank */
.clear {clear:both; height:0; overflow:hidden; display:block;}
.clearfix:after {clear:both; height:0; overflow:hidden; display:block; visibility:hidden; content:"."; }
.blankW {background:#fff;}
.blank3 {clear:both; height:3px; overflow:hidden; display:block;}
.blank6 {clear:both; height:6px; overflow:hidden; display:block;}
.blank9 {clear:both; height:9px; overflow:hidden; display:block;}
.blank9w {background:#ffffff; clear:both; height:9px; overflow:hidden; display:block;}
.blank12 {clear:both; height:12px; overflow:hidden; display:block;}
.blank15 {clear:both; height:15px; overflow:hidden; display:block;}
.blank20 {clear:both; height:20px; overflow:hidden; display:block;}






.globalTopNav{margin:0 auto; width:750px;padding:8px 0 4px;text-align:left; letter-spacing:2px; color:#999;}.globalTopNav a{color:#000;padding:0 2px;}.globalTopNav a:visited{color:#000;}.globalTopNav a:hover{color:#bc2931;}.globalTopNav a:active{color:#bc2931;}.signfont {color:#004585}.signinput {font-size: 12px;padding:2px 2px 0;border:#000000 1px solid;background:#3d88d2;width:120px;color:#fff}.signinput1{font-size:12px;padding:2px 2px 0;border:#000000 1px solid;background:#3d88d2;width:50px;color:#fff}.signtextfield{font-size:12px;height:17px;padding:2px 2px 0;border:#000 1px solid;background:#fff;width:145px;color:#000}.ad70{width:750px;margin:0 auto;padding:2px 0 6px;clear:both;}.adArc{margin:0 auto;width:750px;padding:2px 0 0;clear:both;}.ad750{width:750px;margin:0 auto;padding:9px 0;clear:both;}.ad960_70{width:960px;margin:3px auto;clear:both;overflow:hidden;height:70px;}.ad960_70 .ad_750{float:left;width:750px;}.ad960_70 .ad_200{float:right;width:200px;}



